@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

:root {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    max-width: 800px;
    margin: auto;
}

header nav ul {
    padding-left: 0;
}

header nav {
    margin: 0 5px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
    header nav {
        display: flex;
    }
    
    header nav ul {
        display: flex;
        flex: 1;
    }
    
    header nav ul li {
        margin-left: 2%;
    }
    
    header nav ul li:last-child {
        margin-left: auto;
    }
}